USE [LIBRERIA_ACTIVIDAD_1]
GO
/****** Object:  Table [dbo].[T_DetallesFacturas]    Script Date: 05/09/2025 05:33:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DetallesFacturas](
	[id_detalle_factura] [int] IDENTITY(1,1) NOT NULL,
	[nro_factura] [int] NULL,
	[cod_libro] [int] NULL,
	[pre_unitario] [float] NULL,
 CONSTRAINT [pk_detalle_factura] PRIMARY KEY CLUSTERED 
(
	[id_detalle_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Facturas]    Script Date: 05/09/2025 05:33:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Facturas](
	[nro_factura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[forma_pago] [int] NULL,
	[cod_cliente] [varchar](50) NULL,
 CONSTRAINT [pk_factura] PRIMARY KEY CLUSTERED 
(
	[nro_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Formas_Pago]    Script Date: 05/09/2025 05:33:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Formas_Pago](
	[forma_pago] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [pk_forma_pago] PRIMARY KEY CLUSTERED 
(
	[forma_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Libros]    Script Date: 05/09/2025 05:33:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Libros](
	[cod_libro] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NULL,
	[autor] [varchar](50) NULL,
	[precio] [decimal](10, 2) NULL,
	[activo] [bit] NULL,
	[stock] [int] NULL,
 CONSTRAINT [pk_libro] PRIMARY KEY CLUSTERED 
(
	[cod_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[T_DetallesFacturas]  WITH CHECK ADD  CONSTRAINT [fk_cod_libro] FOREIGN KEY([cod_libro])
REFERENCES [dbo].[T_Libros] ([cod_libro])
GO
ALTER TABLE [dbo].[T_DetallesFacturas] CHECK CONSTRAINT [fk_cod_libro]
GO
ALTER TABLE [dbo].[T_DetallesFacturas]  WITH CHECK ADD  CONSTRAINT [fk_nro_factura] FOREIGN KEY([nro_factura])
REFERENCES [dbo].[T_Facturas] ([nro_factura])
GO
ALTER TABLE [dbo].[T_DetallesFacturas] CHECK CONSTRAINT [fk_nro_factura]
GO
ALTER TABLE [dbo].[T_Facturas]  WITH CHECK ADD  CONSTRAINT [fk_forma_pago] FOREIGN KEY([forma_pago])
REFERENCES [dbo].[T_Formas_Pago] ([forma_pago])
GO
ALTER TABLE [dbo].[T_Facturas] CHECK CONSTRAINT [fk_forma_pago]
GO
/****** Object:  StoredProcedure [dbo].[SP_CREAR_LIBRO]    Script Date: 05/09/2025 05:33:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CREAR_LIBRO]
	@titulo varchar(50),
	@autor varchar(50),
	@precio decimal,
	@activo bit,
	@stock int
AS
BEGIN
	INSERT INTO T_Libros(titulo,autor,precio,activo,stock) VALUES(@titulo,@autor,@precio,@activo,@stock)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_LIBRO_POR_CODIGO]    Script Date: 05/09/2025 05:33:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RECUPERAR_LIBRO_POR_CODIGO]
	@codigo int
AS
BEGIN
	SELECT * FROM T_Libros
	WHERE cod_libro = @codigo and activo = 1
END

GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_LIBROS]    Script Date: 05/09/2025 05:33:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RECUPERAR_LIBROS]
AS
BEGIN
	SELECT * FROM T_Libros
END

GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_BAJA_LIBRO]    Script Date: 05/09/2025 05:33:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REGISTRAR_BAJA_LIBRO]
	@codigo int
AS
BEGIN
	UPDATE T_Libros SET activo = 0
	WHERE cod_libro = @codigo
END

GO
